<script src="/js/admin.js"></script>
<style>
    .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: rgb(14, 42, 133);
       color: white;
       text-align: center;
    }
    </style>
<div class="footer">
    <p>SIT780 MVP Deakin University</p>
  </div>