<nav style="background-color: rgb(14, 42, 133);">
    <a href="/"><h1>CSPMS</h1></a>
    <ul>
      <li><a id="admin" data-text="User" href="/user">User</a></li>
      <li><a data-text="Department" href="/department">Department</a></li>
      <li><a data-text="Category" href="/category">Category</a></li>
      <li><a data-text="policy" href="/policy">Policy</a></li>
      <li><a data-text="logout" href="/auth/logout">Logout</a></li>
      <li  class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i id="bell" class="fa fa-bell"></i>
        </a>
        <div class="dropdown-menu" id="drop-down" aria-labelledby="navbarDropdown">
        </div>
      </li>
    </ul>
  </nav>
  <script>
    let notificationList = document.getElementById('drop-down-user')
  var   mainDiv = document.createElement('a')
    mainDiv.classList.add('dropdown-item')
  
    markup = ` <span >${name}</span>`
    mainDiv.innerHTML = markup
    notificationList.appendChild(mainDiv)
    
    mainDiv = document.createElement('a')
    mainDiv.classList.add('dropdown-item')
    mainDiv.href = '/policy'
    markup = ` <span id="logout" >Logout</span>`
    mainDiv.innerHTML = markup
    notificationList.appendChild(mainDiv)

  </script>

