
<nav style="background-color: rgb(14, 42, 133);">
  <a href="/"><h1>CSPMS</h1></a>
  <ul>
    <li><a data-text="Sign Up" href="/sign-up">Sign Up</a></li>
    <li><a data-text="Login" href="/home">Login</a></li>
  </ul>
</nav>