<%- include ('./partials/head.ejs') %>
    <!-- Embedded Javascreipt -->
    <title>Index</title>
     <!--This script tag is used to maintain session using localstorage-->

</head>
<body>
  <%- include ('./partials/navbar.ejs') %>

  <div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img class="img-fluid w-100" class="" src="images/landing.jpg">
        </div>
    </div>
    <div class="row mt-4 pb-3">
        <col-12>
            <h2 class="text-center">
                Cyber Security Policy Management System (CSPMS)
            </h2>
            <p class="landing-description text-muted">
                Cyber Security Policy Management System (CPMS) tracks the status of each policy so 
that can know the status of each policy, whether it has been viewed and approved by the 
employees. Moreover, it is possible to display the status of the policy based on the 
department to know the level of approval of the policy, which helps the cybersecurity 
department to know that this policy has been approved.This system will help the organizations in creating
and flowing approval for these policies which lead to increase the security level of the organization.

            </p>
        </col-12>
    </div>
</div>



</body>
</html>